/******************/
/* Basic Elements */
/******************/
body {background-color:rgba(234, 236, 233, 1); font-family: "Open Sans", sans-serif;}
body {background-image:url('bg-pattern.png');}
ul   {list-style:none; margin-left:0px; padding-left:0px;}

/***********************/
/* Bootstrap Overrides */
/***********************/
.popover {max-width: 600px;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a  {color: #fff;}
.navbar-inverse {background:url('bg-black.png');}
.navbar-nav>li {font-size: 1.3em;}
.navbar-collapse {padding-right: 0px;}
.navbar-inverse {background-color: #363D47;}
.paging-navigation {margin: 10px 0;}
.tooltip-inner {white-space:pre-wrap; }
.popover-inner {white-space:pre-wrap; }
#website-label {display:none;}

/*******************/
/* General Classes */
/*******************/
.aligncenter  {display:block; margin-left:auto; margin-right:auto;}
.alignleft    {float:left;}
.alignright   {float:right;}
.nowrap       {white-space:nowrap;}
.square-thumb {display: inline-block;}
.square-thumb {width: 100px; height: 90px; margin: 1px;}

/******************/
/* Site Wrappers  */
/******************/
#site-header {background: #CED3E0; margin: 5px 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;	font-family:  "Roboto Condensed", "Open Sans Condensed", "Open Sans", sans-serif;	text-transform:uppercase;	text-shadow: none; color: #000;	position: relative;	font-size: 1.5em;	line-height: 2.5em;	padding: 0 1.0em 0 1.0em;	display: inline-block;}
#site-footer { }
#site-footer {margin: auto; margin-bottom: 30px; text-align:center;}

#twig-footer {width: 100%;	border-top: 1px solid #000;	position: relative;	font-size: 12px;}
#twig-footer {background:url('bg-black.png');}
.twig-footer-widget {color: #adadad;	margin: 0 auto;	position: relative; padding: 0px 0px 0px 15px;}
.twig-footer-bottom {border: none; padding: 5px 0; margin-top: 0px;}
.twig-footer-bottom span.copyright {font-size: 11px;	padding: 5.0em 0 5.0em 0;}

.photo-badge-mini {height: 42px; width: 42px;	border-radius: 130px;	margin-left: 5px;	margin-top: 5px; border: 4px solid #fff; position:relative;	float:left;}

/******************/
/* Tabs           */
/******************/
#adam-tab-list {
	border: 1px solid #aaa;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
	padding: .2em .2em 0;
	background: white;
}

#adam-tab-list>ul {
	border: 1px solid #aaa;
	background: #ccc url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222;
	font-weight: bold;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
	padding: .2em .2em 0;
	margin: 0px;
}

#adam-tab-list>ul>li {
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	margin: 1px .2em 0 0;
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
}

#adam-tab-list>ul>li>a {
	margin-right: 0px;
	padding: .5em 1em;
}

#adam-tab-list>ul>li>a,
#adam-tab-list>ul>li>a:link,
#adam-tab-list>ul>li>a:visited {
	color: #555;
	text-decoration: none;
}

#adam-tab-list>ul>li>a:hover {
	color: #212121;
	text-decoration: none;
}

#adam-tab-list>ul>li.active {
	border-bottom-color: #fff;
	margin-bottom: -1px;
	padding-bottom: 2px;
	border-bottom-width: 0;
	background-image:  -moz-linear-gradient(bottom, #fff 2px, transparent 2px);
	background-image:  -o-linear-gradient(bottom, #fff 2px, transparent 2px);
	background-image:  -webkit-linear-gradient(bottom, #fff 2px, transparent 2px);
	background-image:  linear-gradient(bottom, #fff 2px, transparent 2px);
}

/******************/
/* Graphs      */
/******************/
#boysNamesChartContainer          {height: 500px;}
#girlsNamesChartContainer         {height: 500px;}
#surnamesChartContainer           {height: 500px;} 
#totRecordsChartContainer         {height: 200px;}
#expandedTotRecordsChartContainer {height: 400px;}
#avgRecordsChartContainer         {height: 200px;}
#distOfClaimsChartContainer       {height: 400px; margin-left:20px;}
#docClaimsChartContainer          {height: 400px;}
#avgLifeSpanChartContainer        {height: 600px;}
#avgAgesChartContainer            {height: 150px;}

#expandedTotRecordsChartContainer2 {height: 600px;}

#xfactorChartContainer             {height: 350px;}
#xfactorTotRecordsChartContainer   {height: 300px;}
#xfactorStatsChartContainer   		 {height: 300px;}

@media only screen and (max-width:1200px) { 
  g.dxc-title g text tspan {font-size: .7em;}
}

/******************/
/* Bloxxen        */
/******************/
.comment {
	margin-left: 40px;
	border: 1px solid #aaa;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;	
	padding: .2em .2em 0;
	background: rgb(255, 254, 244);
}
#comment .comment {
	margin-left: 40px;
}
.commentMarkup {
	padding-bottom: 0px;
}
#adamAddCommentContainer textarea{
	width:99%;
}

/******************/
/* Adam Content   */
/******************/

.adam-image-photo-box {
	max-width: 100px;
	max-height: 100px;
	display: -moz-inline-box; 
	display: inline-block;
	overflow: hidden;
}
.adam-image-file-box {
	max-width: 50px;
	max-height: 50px;
	width: 50px;
	height: 50px;
	display: -moz-inline-box; 
	display: inline-block;
	overflow: hidden;
}

.adam-image-photo {
    max-height: 100%;
    max-width: 100%;
    display:block;
		margin-left:auto;
		margin-right:auto;
}
.adam-image-file {
    max-height: 100%;
    max-width: 100%;
		width: 50px;
		height: 50px;
    display:block;
		margin-left:auto;
		margin-right:auto;   
}

.adam-toc, 
#adam-menu,
.adam-stats-wrapper, 
.adam-heatmap-wrapper, 
.adam-census-wrapper, 
.adam-index-wrapper, 
.adam-birthdays-wrapper,
.adam-comment-wrapper,
.adam-timeline-wrapper,
.adam-immigrants-wrapper,
.adam-nobility-wrapper,
#map,
#adam-person_chart,
.adam-update-wrapper {
	background: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0;
	border: 0;
}

.adam-toc, 
#adam-menu,
.adam-stats-wrapper, 
.adam-index-wrapper, 
.adam-birthdays-wrapper,
.adam-comment-wrapper,
#adam-person_chart,
.adam-update-wrapper {
	padding: 10px 10px 10px 20px;
}

#map {
	min-height:750px;
	padding: 10px 10px 10px 10px;
}

.adam-heatmap-wrapper {
	min-height:750px;
	padding: 3px 13px 0px 14px;
}

.adam-home_title,
#adam-page-title  {
  background: #363D47; 
	margin: 25px 0;      
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family:  "Open Sans", sans-serif;
	text-transform:uppercase;
	text-shadow: none;
	color: #fff;
	position: relative;
	/*display: inline;*/
	font-size: 1.3em;
	line-height: 2.3em;
	padding: 0 0.8em 0 0.8em; 
	margin: 10px 0px 10px 0px;
	
	min-height: 2.5em; /* needed by IE */
	font-family:  "Roboto Condensed", "Open Sans Condensed", "Open Sans", sans-serif;
	font-size: 1.5em;
	line-height: 2.5em;
	padding: 0 1.0em 0 1.0em; /* vertical center */
	
}

#adam-bloxxen_comments           {padding-left: 5px; margin-bottom: 30px; width:99%; }
.adam-bloxxen-form-intro         {padding-left: 10px; padding-top: 10px;}
.adam-stats-wrapper              {margin-bottom: 10px;}
.adam-aid                        {font-family:Monaco, Consolas, monospace; font-size:.9em;}
#adam-inner-content              {background:transparent; margin-bottom:10px; padding:0;}
.adam-alignright                 {float:right;}
.adam-alignleft                  {/*float:left; position:absolute;*/}
#adam-sidebar                    {float:left; width:130px; margin:0 10px 0px 0;}
#adam-menu h3                    {padding:5px; font-weight:bold;}
#adam-menu ul                    {padding: 0; margin: 0; border: 0;}
#adam-menu ul li                 {background: transparent; border-bottom: 1px solid rgba(196, 196, 196, 0.25);}
#adam-menu a                     {color:#282828;}
#adam-menu a:link                {color:#282828;}
#adam-menu a:visited             {color:#282828;}
#adam-menu a:active              {color:#282828;}
#adam-menu a:hover               {color:#9e9e9e; text-decoration:none;}
.adam-tab_table                  {width:100%; margin-top: 2px; border-collapse: separate; border-spacing: .5em;}
.adam-table_box                  {width:100%; border:1px solid #aaa; border-spacing:0px; border-collapse:separate; border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; /*padding-bottom: 1px;*/}
.adam-heading                    {background:#303030; color:white; font-weight:bold; padding:2px 10px 2px 10px;}
.adam-heading li.adam-title      {float:left;}
.adam-heading li.adam-id         {float:right;}
.adam-version                    {font-size:12px; padding-top:0px; padding-bottom:10px; margin-top: 10px;}
.adam-bonkers                    {font-size:12px; padding-top:5px;}
.adam-vivify                     {font-size:12px; padding-top:5px;}
.adam-validator                  {font-size:12px; padding-top:5px;}
.adam-index_legend               {text-align:center;}
.adam-index_names                {text-align:center;}
.adam-index_entry                {display:inline; white-space:nowrap;}
.adam-author                     {font-size:16px; color:#4f4f85; height:20px;}
.adam-date                       {font-size:14px; color:#4f4f85; height:30px;}
.adam-toc_item                   {}
.adam-gender                     {background:#FFEAD0; padding:3px 10px 3px 10px;}
.adam-photos-wrapper             {margin-right:auto; margin-left:auto;}
.adam-photos                     {}
.adam-userids                    {background:#F4E5CF; padding:5px 10px 5px 10px;}
.adam-name_list                  {background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-parents                    {background:#EDCBAD; padding:5px 10px 5px 10px;}
.adam-spouses                    {background:#FFEAD0; padding:5px 10px 5px 10px;}
.adam-children                   {background:#FFEAD0; padding:5px 10px 5px 10px;}
.adam-associations               {background:#EDCBAD; padding:5px 10px 5px 10px;}
.adam-events                     {background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-attrs                      {background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-claim_spouse>td            {padding-right:1em;}
.adam-claim_parents>td           {padding-right:1em;}
.adam-claim>td                   {padding-right:1em;}
.adam-claim_name                 {white-space:nowrap;}
.adam-claim_tag                  {white-space:nowrap;}
.adam-claim_data                 {width:100%;}
.adam-claim_date                 {white-space:nowrap; text-align:right;}
.adam-claim_age                  {white-space:nowrap;}
.adam-claim_disproved            {background:lightgrey;}
.adam-claim_quality              {text-align:right;}
.adam-claim_quality_disproved    {background:lightgrey; font-weight:bold;}
.adam-claim_quality_uncertain    {color:black;}
.adam-claim_quality_estimated    {color:purple;}
.adam-claim_quality_unsupported  {color:black;}
.adam-claim_quality_improbable   {color:red;  font-weight:bold;}
.adam-claim_quality_probable     {color:green;}
.adam-claim_quality_proposed     {color:#28A500;}
.adam-claim_quality_possible     {color:#28A500;}
.adam-claim_quality_supported    {color:#28A500;}
.adam-claim_quality_maybe        {color:#28A500;}
.adam-claim_quality_assumed      {color:#28A500;}
.adam-claim_quality_certain      {color:blue;}
.adam-claim_evidence             {color:green;}
.adam-claim_evidence a           {color:green;}
.adam-claim_evidence a:link      {color:green;}
.adam-claim_evidence a:visited   {color:green;}
.adam-claim_evidence a:active    {color:green;}
.adam-claim_conclusion           {color:purple;}
.adam-claim_conclusion a         {color:purple;}
.adam-claim_conclusion a:link    {color:purple;}
.adam-claim_conclusion a:visited {color:purple;}
.adam-claim_conclusion a:active  {color:purple;}
#adam-location_profile           {margin-bottom: 4px;}
#adam-source_profile             {margin-bottom: 0px;}
#adam-person_sources             {margin-bottom: 0px;}
.adam-location_link              {color:#1a4c80;}
.adam-name_link                  {color:#cc3300;}
.adam-chart_name_link            {color:#00008b;}
.adam-comment                    {background:#FFFFCC;}
.adam-note                       {background:#FFFFFF; margin:3px 0;}
.adam-note_heading               {background:#959A92; padding:1px 10px 2px 10px;}
.adam-note_text                  {background:#E7F0FF; padding:5px 10px 3px 10px;}
.adam-list                       {background:#FFFFFF; margin:3px 0;}
.adam-list_heading               {background:#959A92; padding:1px 10px 2px 10px;}
.adam-list_urls                  {background:#FFFAFA; padding:2px 10px 2px 10px;}
#adam-modified                   {font-size:12px; padding: 2px 0px 0px 0px; margin-top: 20px;}
.adam-source_text                {background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-source_header              {background:#F0FFF0; padding:5px 10px 5px 10px;}
.adam-source_bibliography        {background:#F4E5CF; padding:5px 10px 5px 10px;}
.adam-source_template            {background:#FFFAFA; padding:5px 10px 5px 10px;}
.adam-source_type                {background:#F0FFF0; padding:5px 10px 5px 10px;}
.adam-source_repository          {background:#F0FFF0; padding:5px 10px 5px 10px;}
.adam-source_quality             {background:#F4E5CF; padding:5px 10px 5px 10px;}
.adam-referrers                  {background:#F0FFF0; padding:5px 10px 5px 10px;}
.adam-urls                       {/*background:#FFFAFA; padding:3px  0px 3px  0px;*/}
.adam-names                      {background:#FFEAD0; padding:5px 10px 5px 10px;}
.adam-url                        {background:#CBCCE6; padding:2px 10px 2px 10px;}
.adam-citation                   {/*background:#FFFFFF; margin:5px 0;*/}
.adam-citation_heading           {background:#959A92; padding:1px 10px 2px 10px;}
.adam-citation_text              {background:#E7F0FF; padding:5px 10px 10px 10px; /*border-bottom: 1px solid #aaa;*/}
.adam-citation_text pre					 {margin: 5px 0px;}
.adam-location                   {background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-map                        {padding:0px 0px 0px 00px;}
#adam-map-canvas                 {height: 500px;}
#adam-heat-map                   {width:100%; max-width:1023px; height:650px; margin-right:10px; float:left; border: 1px solid rgba(196, 196, 196, 0.25);}
div.infowindow                   {max-height:400px; width: 100%; max-width:400px; overflow-y:auto; overflow-x: hidden;}
.adam-map-location               {white-space:nowrap;}
.adam-map-person                 {white-space:nowrap;}
.adam-article_text               {background:#FFFAFA; padding:5px 10px 5px 10px; color:#000000;}
.adam-updated_person             {}
.adam-updated_note               {font-style:italic;}
.adam-updated_source             {font-style:italic;}
.adam-al_page                    {background:#E0FFFF; padding:5px; border: 1px solid #aaa; margin: 2px 0px 2px 0px; border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px;}
.adam-al_page b                  {font-weight:bold;}
.adam-al_page i                  {font-style:italic;}
.adam-al_legend                  {width:600px; list-style-type:none; margin:0; padding:0;}
.adam-al_generation              {padding-top:10px; font-weight:bold;}
.adam-al_list                    {list-style-type:none;  margin:0; padding:0; width: 100%;}
.adam-al_item                    {}
.adam-al_item_primary            {font-weight:bold;}
.adam-al_item_uncertain          {background:lightgrey;}
.adam-al_name                    {float:left;  margin:0;}
.adam-al_path                    {float:right; margin:0;}
.bonkers_item                    {background:white; border-radius: 5px; -webkit-border-radius: 5px; margin-bottom:20px; padding-left:10px; padding-right:10px; padding-bottom:10px;}
.adam-il_title                   {padding-left:10px; padding-top:10px; background:white; font-weight:bold; min-height:30px; vertical-align:bottom;}
.adam-il_item                    {padding-left:10px;}
.adam-il_item_bonkers            {font-size: 1.4em; padding: 10px 0;}
.adam-il_total                   {padding:10px 0px 0px 10px;}
.adam-census                     {width:100%; background:lightgrey; padding-left:1px; padding-right:1px; padding-top:1px; padding-bottom:1px; border: 1px solid rgba(196, 196, 196, 0.25);}
.adam-census i                   {font-style:italic;}
.adam-census b                   {font-weight:bold;}
.adam-census_heading             {background:#FFE7BA; font-weight:bold;}
.adam-census_body                {background:lightyellow;}
.adam-census_name                {background:lightyellow; vertical-align:top; white-space:nowrap;}
.adam-census_date                {background:lightyellow; vertical-align:top; white-space:nowrap;}
.adam-census_entryeven           {background:lightyellow; vertical-align:top; white-space:nowrap; text-align:center;}
.adam-census_entryodd            {background:lightgrey;   vertical-align:top; white-space:nowrap; text-align:center;}
.adam-timeline_list              {color:black; background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-military_list              {color:black; background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-immigrants_list            {color:black; background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-immigrant_index            {padding:0px 5px 0px 0px;}
.adam-immigrant_name             {padding:0px 5px 0px 0px; min-width:200px;}
.adam-immigrant_data             {padding:0px 5px 0px 0px; width:100%;}
.adam-immigrant_ship             {font-style:italic;}
.adam-titles_list                {color:black; background:#E7F0FF; padding:5px 10px 5px 10px;}
.adam-title_new                  {}
.adam-title_cont                 {}
.adam-title_name                 {padding:0px 5px 0px 5px; min-width:300px;}
.adam-title_data                 {padding:0px 5px 0px 0px; width:100%;}
.adam-title_date                 {padding:0px 5px 0px 0px; white-space:nowrap; text-align:right;}
.adam-title_age                  {padding:0px 5px 0px 0px; white-space:nowrap;}
.adam-stats-title                {font-weight: bold; padding-bottom: 10px;}
.adam-stats-line                 {padding-left: 20px;}
.adam-stats-table                {border: 1px;}
.adam-stats-line tr td           {padding-right: 10px;}
.adam-stats-legend td            {font-weight: bold;}
.adam-stats-super-legend td      {font-weight: bolder; text-align: center;}
ul.adam-tabs                     {margin:0 !important; padding:0; height:36px; border-bottom:1px solid #666;}
ul.adam-tabs li                  {float:left; padding:0; margin:0; list-style-type:none;}
ul.adam-tabs a                   {float:left;font-size:110%; display:block; padding:5px 30px; text-decoration:none;border:1px solid #666; border-bottom:0px;height:24px; background-color:#ddd; color:#777; margin-right:2px; position:relative; top:1px; outline:0; -moz-border-radius:8px 8px 0 0; -khtml-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; -border-radius:8px 8px 0 0;}
ul.adam-tabs a:hover             {background-color:#F7F7F7; color:#333;}
ul.adam-tabs a.current           {background-color:#efefef; color:#000;border-bottom:1px solid #efefef; cursor:default;}
.adam-panes div.adam-tab         {display:none; border:1px solid #666; border-width:0 1px 1px 1px; min-height:50px; padding:0px 0px; background-color:#efefef; color:black;}
.adam-article_text img,
.adam-url img                    {cursor:pointer; margin:0 0 3px; background-color:#fff; border:1px solid #ccc; padding:2px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.adam-article_text img					 {max-height: 100%; max-width: 100%; margin:auto; display:block; }
.adam-map-status                 {display: inline-block; max-width:1024px; width:auto;}
#adam-person_chart               {position:relative;}
.adam-chart_node                 {padding:2px; text-align:left; font-size:8pt; font-family:Arial, Helvetica, sans-serif; vertical-align:middle; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; border-top-style:solid; border-right-style:solid; border-bottom-style:solid; border-left-style:solid; border-top-color:rgb(0, 0, 0); border-right-color:rgb(0, 0, 0); border-bottom-color:rgb(0, 0, 0); border-left-color:rgb(0, 0, 0); border-image:initial;}
.adam-chart_node                 {position:absolute; z-index:5; overflow:hidden; height:36px; width:156px; border-color: #949494; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -khtml-border-radius:5px;}
.adam-chart_nodeshadow           {position:absolute; z-index:1; overflow:hidden; height:33px; width:153px; background-color:#444; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -khtml-border-radius:5px;}
.adam-chart_connector            {position:absolute; z-index:3; overflow:hidden; background-color:#949494;}
.adam-chart_arrow                {position:absolute; z-index:5;}
.adam-chart_arrow img            {width:10;  height:10; cursor:pointer; margin:0 0 3px; background-color:#fff; border:1px solid #ccc; padding:2px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.adam-chart_node-bkgnd5          {background-color:#f5ecce;}
.adam-chart_node-bkgnd4          {background-color:#f7f2e0;}
.adam-chart_node-bkgnd3          {background-color:#fbf8ef;}
.adam-chart_node-bkgnd2          {background-color:#fbfbef;}
.adam-chart_node-bkgnd1          {background-color:#ffffff;}
.adam-chart_node-bkgnd0          {background-color:#f5ecce;}
#adam-chart_legend-uncertain     {background-color:#aaaaaa; border:1px solid #666;}
.adam-chart_node-uncertain       {background-color:#aaaaaa;}
.adam-chart_node-uncertain a     {color:#ffffff;}
.adam-chart_node-unknown         {background-color:#efefef;}
.adam-chart_arrow0               {left:  4px;}
.adam-chart_node0                {left: 23px;}
.adam-chart_nodeshadow0          {left: 27px;}
.adam-chart_connector0a          {left:179px; height:1px; width:5px;}
.adam-chart_connector0b          {left:183px; height:1px; width:5px;}
.adam-chart_connector0c          {left:183px; height:40px; width:1.1px;}
#adam-chart_arrow2               {top:290px; left:320px; width:16px; height:10px;}
#adam-chart_arrow3               {top:350px; left:320px; width:16px; height:10px;}
#adam-chart_node1                {top:310px; left:188px;}
#adam-chart_nodeshadow1          {top:314px; left:192px;}
#adam-chart_connector1           {top:328px; left:344px; height:  1px; width:5px;}
#adam-chart_connector1-2a        {top:168px; left:348px; height:160px; width:1.1px;}
#adam-chart_connector1-2b        {top:168px; left:348px; height:  1px; width:5px;}
#adam-chart_connector1-3a        {top:328px; left:348px; height:160px; width:1.1px;}
#adam-chart_connector1-3b        {top:488px; left:348px; height:  1px; width:5px;}
#adam-chart_node2                {top:150px; left:353px;}
#adam-chart_nodeshadow2          {top:154px; left:357px;}
#adam-chart_connector2           {top:168px; left:509px; height: 1px; width:5px;}
#adam-chart_connector2-4a        {top: 88px; left:513px; height:80px; width:1.1px;}
#adam-chart_connector2-4b        {top: 88px; left:513px; height: 1px; width:5px;}
#adam-chart_connector2-5a        {top:168px; left:513px; height:80px; width:1.1px;}
#adam-chart_connector2-5b        {top:248px; left:513px; height: 1px; width:5px;}
#adam-chart_node3                {top:470px; left:353px;}
#adam-chart_nodeshadow3          {top:474px; left:357px;}
#adam-chart_connector3           {top:488px; left:509px; height:  1px; width:5px;}
#adam-chart_connector3-6a        {top:408px; left:513px; height: 80px; width:1.1px;}
#adam-chart_connector3-6b        {top:408px; left:513px; height:  1px; width:5px;}
#adam-chart_connector3-7a        {top:488px; left:513px; height: 80px; width:1.1px;}
#adam-chart_connector3-7b        {top:568px; left:513px; height:  1px; width:5px;}
#adam-chart_node4                {top: 70px; left:518px;}
#adam-chart_nodeshadow4          {top: 74px; left:522px;}
#adam-chart_connector4           {top: 88px; left:674px; height:1px; width:5px;}
#adam-chart_connector4-8a        {top: 48px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector4-8b        {top: 48px; left:678px; height:1px; width:5px;}
#adam-chart_connector4-9a        {top: 88px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector4-9b        {top:128px; left:678px; height:1px; width:5px;}
#adam-chart_node5                {top:230px; left:518px;}
#adam-chart_nodeshadow5          {top:234px; left:522px;}
#adam-chart_connector5           {top:248px; left:674px; height:1px; width:5px;}
#adam-chart_connector5-10a       {top:208px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector5-10b       {top:208px; left:678px; height:1px; width:5px;}
#adam-chart_connector5-11a       {top:248px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector5-11b       {top:288px; left:678px; height:1px; width:5px;}
#adam-chart_node6                {top:390px; left:518px;}
#adam-chart_nodeshadow6          {top:394px; left:522px;}
#adam-chart_connector6           {top:408px; left:674px; height:1px; width:5px;}
#adam-chart_connector6-12a       {top:368px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector6-12b       {top:368px; left:678px; height:1px; width:5px;}
#adam-chart_connector6-13a       {top:408px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector6-13b       {top:448px; left:678px; height:1px; width:5px;}
#adam-chart_node7                {top:550px; left:518px;}
#adam-chart_nodeshadow7          {top:554px; left:522px;}
#adam-chart_connector7           {top:568px; left:674px; height:1px; width:5px;}
#adam-chart_connector7-14a       {top:528px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector7-14b       {top:528px; left:678px; height:1px; width:5px;}
#adam-chart_connector7-15a       {top:568px; left:678px; height:40px; width:1.1px;}
#adam-chart_connector7-15b       {top:608px; left:678px; height:1px; width:5px;}
#adam-chart_node8                {top: 30px; left:683px;}
#adam-chart_nodeshadow8          {top: 34px; left:687px;}
#adam-chart_connector8           {top: 48px; left:839px; height:1px; width:5px;}
#adam-chart_connector8-16a       {top: 28px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector8-16b       {top: 28px; left:843px; height:1px; width:5px;}
#adam-chart_connector8-17a       {top: 48px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector8-17b       {top: 68px; left:843px; height:1px; width:5px;}
#adam-chart_node9                {top:110px; left:683px;}
#adam-chart_nodeshadow9          {top:114px; left:687px;}
#adam-chart_connector9           {top:128px; left:839px; height:1px; width:5px;}
#adam-chart_connector9-18a       {top:108px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector9-18b       {top:108px; left:843px; height:1px; width:5px;}
#adam-chart_connector9-19a       {top:128px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector9-19b       {top:148px; left:843px; height:1px; width:5px;}
#adam-chart_node10               {top:190px; left:683px;}
#adam-chart_nodeshadow10         {top:194px; left:687px;}
#adam-chart_connector10          {top:208px; left:839px; height:1px; width:5px;}
#adam-chart_connector10-20a      {top:188px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector10-20b      {top:188px; left:843px; height:1px; width:5px;}
#adam-chart_connector10-21a      {top:208px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector10-21b      {top:228px; left:843px; height:1px; width:5px;}
#adam-chart_node11               {top:270px; left:683px;}
#adam-chart_nodeshadow11         {top:274px; left:687px;}
#adam-chart_connector11          {top:288px; left:839px; height:1px; width:5px;}
#adam-chart_connector11-22a      {top:268px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector11-22b      {top:268px; left:843px; height:1px; width:5px;}
#adam-chart_connector11-23a      {top:288px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector11-23b      {top:308px; left:843px; height:1px; width:5px;}
#adam-chart_node12               {top:350px; left:683px;}
#adam-chart_nodeshadow12         {top:354px; left:687px;}
#adam-chart_connector12          {top:368px; left:839px; height:1px; width:5px;}
#adam-chart_connector12-24a      {top:348px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector12-24b      {top:348px; left:843px; height:1px; width:5px;}
#adam-chart_connector12-25a      {top:368px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector12-25b      {top:388px; left:843px; height:1px; width:5px;}
#adam-chart_node13               {top:430px; left:683px;}
#adam-chart_nodeshadow13         {top:434px; left:687px;}
#adam-chart_connector13          {top:448px; left:839px; height:1px; width:5px;}
#adam-chart_connector13-26a      {top:428px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector13-26b      {top:428px; left:843px; height:1px; width:5px;}
#adam-chart_connector13-27a      {top:448px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector13-27b      {top:468px; left:843px; height:1px; width:5px;}
#adam-chart_node14               {top:510px; left:683px;}
#adam-chart_nodeshadow14         {top:514px; left:687px;}
#adam-chart_connector14          {top:528px; left:839px; height:1px; width:5px;}
#adam-chart_connector14-28a      {top:508px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector14-28b      {top:508px; left:843px; height:1px; width:5px;}
#adam-chart_connector14-29a      {top:528px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector14-29b      {top:548px; left:843px; height:1px; width:5px;}
#adam-chart_node15               {top:590px; left:683px;}
#adam-chart_nodeshadow15         {top:594px; left:687px;}
#adam-chart_connector15          {top:608px; left:839px; height:1px; width:5px;}
#adam-chart_connector15-30a      {top:588px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector15-30b      {top:588px; left:843px; height:1px; width:5px;}
#adam-chart_connector15-31a      {top:608px; left:843px; height:20px; width:1.1px;}
#adam-chart_connector15-31b      {top:628px; left:843px; height:1px; width:5px;}
#adam-chart_node16               {top: 10px; left:848px;}
#adam-chart_nodeshadow16         {top: 14px; left:852px;}
#adam-chart_arrow16              {top: 19px; left:1010px;}
#adam-chart_node17               {top: 50px; left:848px;}
#adam-chart_nodeshadow17         {top: 54px; left:852px;}
#adam-chart_arrow17              {top: 69px; left:1010px;}
#adam-chart_node18               {top: 90px; left:848px;}
#adam-chart_nodeshadow18         {top: 94px; left:852px;}
#adam-chart_arrow18              {top: 99px; left:1010px;}
#adam-chart_node19               {top:130px; left:848px;}
#adam-chart_nodeshadow19         {top:134px; left:852px;}
#adam-chart_arrow19              {top:139px; left:1010px;}
#adam-chart_node20               {top:170px; left:848px;}
#adam-chart_nodeshadow20         {top:174px; left:852px;}
#adam-chart_arrow20              {top:179px; left:1010px;}
#adam-chart_node21               {top:210px; left:848px;}
#adam-chart_nodeshadow21         {top:214px; left:852px;}
#adam-chart_arrow21              {top:219px; left:1010px;}
#adam-chart_node22               {top:250px; left:848px;}
#adam-chart_nodeshadow22         {top:254px; left:852px;}
#adam-chart_arrow22              {top:259px; left:1010px;}
#adam-chart_node23               {top:290px; left:848px;}
#adam-chart_nodeshadow23         {top:294px; left:852px;}
#adam-chart_arrow23              {top:299px; left:1010px;}
#adam-chart_node24               {top:330px; left:848px;}
#adam-chart_nodeshadow24         {top:334px; left:852px;}
#adam-chart_arrow24              {top:339px; left:1010px;}
#adam-chart_node25               {top:370px; left:848px;}
#adam-chart_nodeshadow25         {top:374px; left:852px;}
#adam-chart_arrow25              {top:379px; left:1010px;}
#adam-chart_node26               {top:410px; left:848px;}
#adam-chart_nodeshadow26         {top:414px; left:852px;}
#adam-chart_arrow26              {top:419px; left:1010px;}
#adam-chart_node27               {top:450px; left:848px;}
#adam-chart_nodeshadow27         {top:454px; left:852px;}
#adam-chart_arrow27              {top:459px; left:1010px;}
#adam-chart_node28               {top:490px; left:848px;}
#adam-chart_nodeshadow28         {top:494px; left:852px;}
#adam-chart_arrow28              {top:499px; left:1010px;}
#adam-chart_node29               {top:530px; left:848px;}
#adam-chart_nodeshadow29         {top:534px; left:852px;}
#adam-chart_arrow29              {top:539px; left:1010px;}
#adam-chart_node30               {top:570px; left:848px;}
#adam-chart_nodeshadow30         {top:574px; left:852px;}
#adam-chart_arrow30              {top:579px; left:1010px;}
#adam-chart_node31               {top:610px; left:848px;}
#adam-chart_nodeshadow31         {top:614px; left:852px;}
#adam-chart_arrow31              {top:619px; left:1010px;}

/******************/
/* Overrides      */
/******************/

@media only screen and (max-width: 1200px) {
	.adam-census-wrapper {font-size: 1.0em;}
}

@media only screen and (max-width: 992px) {
	.adam-census-wrapper {font-size: .7em;}
	#adam-tab-list>ul    {font-size: .7em;}
  .nav>li>a {padding-left:5px; padding-right:5px;}
}

@media only screen and (max-width: 768px) {
	.adam-immigrant_name {min-width: 100px;}
	.adam-title_name     {min-width: 100px;}
	.adam-claim_name     {min-width: 150px; white-space:normal;}
	.adam-claim_tag      {min-width: 50px; white-space:normal;}
	.adam-census-wrapper {font-size: .7em;}
	#adam-tab-list>ul    {font-size: .6em;}
	.adam-al_path        {display:none;}
}

@media only screen and (max-width: 768px) {
	.adam-census-wrapper {font-size: .6em;}
}



