pelican
invoke >= 0.13
pelican.jinja_filters
minchin.pelican.plugins.cname
minchin.pelican.plugins.nojekyll
seafoam
BeautifulSoup4 >= 4.5.0
colorama
joblib
minchin.text
requests
winshell
tbvaccine
pywin32
lxml
Markdown
